<!-- <div class="signal__demo-container">
  <div class="demo-container__body">
    <span class="count">{{count()}}</span>
  </div>
  <button (click)="increaseCount()">Increase Counter</button>
  <button (click)="decreaseCount()">Decrease Counter</button>
</div>

<div class="notes">
  <span>
    doubleCount's derivation function does not run to calculate its value until the first time doubleCount is read. Once calculated, this value is cached, and future reads of doubleCount will return the cached value without recalculating.
  </span>
</div> -->

<app-writable-signal></app-writable-signal>